@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* colors */
:root {
  --primary-color: #e26105;
  --primary-color-light: #f17923;
  --primary-color-lighter: #f38d45;
  --primary-color-dark: #c25400;
  --secondary-color: rgb(19, 19, 19);
  --secondary-color-light: rgb(19, 19, 19);
  --secondary-color-dark: rgb(19, 19, 19);
  --text-color: ghostwhite;
  --body-color: rgb(19, 19, 19);
  --black-color: rgb(0, 0, 0);
}

/* dark mode */
.dark-mode {
  --primary-color: #461a9c;
  --primary-color-light: #7d06dc;
  --primary-color-lighter: #8a12e6;
  --primary-color-dark: #2d0361;
  --secondary-color: #c6bfe7;
  --secondary-color-light: #d7d8f4;
  --secondary-color-dark: #b8b1e1;
  --text-color: ghostwhite;
  --body-color: rgb(19, 19, 19);
  --black-color: rgb(0, 0, 0);
}

/* fonts */
@keyframes fadeinLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeinRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--body-color);
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.44rem;
}

h3 {
  font-size: 1.2rem;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

a {
  -webkit-tap-highlight-color: transparent;
}

/* reusable css classes */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.left {
  margin-left: 50px;
}

.right {
  margin-right: 50px;
}

.bgblur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgb(19, 19, 19) 70%);
  z-index: -1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.hidden {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1.5s, transform 1.5s;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(0deg, rgba(19, 19, 19, 0.1) 0%, var(--primary-color-dark) 10%, var(--primary-color-dark) 90%, rgb(19, 19, 19) 100%);
  color: var(--text-color);
}
.navbar .container {
  padding: 1rem 2rem;
  position: relative;
  /* border: 1px solid red; */
}
.navbar__toggle {
  position: absolute;
  top: 50%;
  left: calc(40px + 4rem);
  transform: translateY(-50%);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}
.navbar__toggle:hover {
  background-color: var(--primary-color-light);
  transform: scale(1.1) translateY(-50%);
  transition: all 0.3s ease;
}
.navbar__toggle:hover:active {
  transform: scale(1) translateY(-50%);
  transition: all 0.1s ease;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 40px;
  margin: -0.5rem 0;
}
.navbar__logo img {
  width: 100%;
  height: auto;
}
.navbar nav {
  /* border: 1px solid green; */
  display: flex;
}
@media screen and (max-width: 750px) {
  .navbar nav {
    flex-direction: column;
    width: 100%;
  }
}
.navbar nav #userIcon, .navbar nav #loginBtn {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color-light);
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar nav #userIcon:hover, .navbar nav #loginBtn:hover {
  background-color: var(--primary-color-light);
  transform: scale(1.1);
}
.navbar nav #userIcon:active, .navbar nav #loginBtn:active {
  transform: scale(1);
  transition: all 0.1s ease;
}
.navbar nav #userIcon.loggedIn, .navbar nav #loginBtn.loggedIn {
  display: none;
}
@media screen and (max-width: 750px) {
  .navbar nav #userIcon, .navbar nav #loginBtn {
    align-self: flex-end;
  }
}
.navbar nav #userIcon {
  display: none;
}
.navbar nav #userIcon.loggedIn {
  display: block;
}
.navbar__user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(150%);
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.7s ease;
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 2px solid var(--primary-color-dark);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.navbar__user.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease 0s, transform 0.7s ease;
}
.navbar__user a, .navbar__user button {
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}
.navbar__user a:hover, .navbar__user button:hover {
  background-color: var(--primary-color-light);
  transform: scale(1.1);
}
.navbar__user a:active, .navbar__user button:active {
  transform: scale(1);
  transition: all 0.1s ease;
}
.navbar__user button {
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.navbar__login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%) translateY(-150%);
  margin: 0.5rem;
  text-align: center;
  opacity: 0;
  color: var(--text-color);
  background-color: var(--primary-color-dark);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  transition: opacity 0.3s ease 0s, transform 0.7s ease;
}
.navbar__login.active {
  opacity: 1;
  transform: translateX(50%) translateY(0);
  transition: opacity 0.3s ease 0.2s, transform 0.5s ease;
}
.navbar__login-signup, .navbar__login-signin {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.navbar__login-signup input, .navbar__login-signin input {
  margin: 0;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  outline: none;
  /* cursor: default; */
}
.navbar__login-signup input::-moz-placeholder, .navbar__login-signin input::-moz-placeholder {
  color: var(--primary-color-lighter);
}
.navbar__login-signup input::placeholder, .navbar__login-signin input::placeholder {
  color: var(--primary-color-lighter);
}
.navbar__login-signup button, .navbar__login-signin button {
  margin: 0;
  align-self: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar__login-signup button:hover, .navbar__login-signin button:hover {
  background-color: var(--primary-color-light);
  transform: scale(1.1);
}
.navbar__login-signup button:active, .navbar__login-signin button:active {
  transform: scale(1);
  transition: all 0.1s ease;
}
.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 750px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    margin: 0.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .navbar__menu li {
    flex-shrink: 0;
    width: 100%;
    transform: translateX(150%);
    transition: transform 0.25s ease;
  }
}
.navbar__menu li:nth-child(2) {
  transition-delay: 0.1s;
}
.navbar__menu li:nth-child(3) {
  transition-delay: 0.2s;
}
.navbar__menu li:nth-child(4) {
  transition-delay: 0.3s;
}
.navbar__menu li:nth-child(5) {
  transition-delay: 0.4s;
}
.navbar__menu li a {
  color: var(--secondary-color-light);
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.navbar__menu li a:hover {
  background-color: var(--primary-color-light);
  scale: 1.1;
}
.navbar__menu li a i::before {
  font-size: 1.1rem;
  margin-bottom: -0.25rem;
}
@media screen and (max-width: 750px) {
  .navbar__menu.active li {
    transform: translateY(0);
  }
}
.navbar__hamburguer {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: none;
  font-size: 1.2rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}
.navbar__hamburguer:hover {
  background-color: var(--primary-color-light);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.navbar__hamburguer:active {
  transform: scale(1);
  transition: all 0.1s ease;
}
@media screen and (max-width: 750px) {
  .navbar__hamburguer {
    display: block;
  }
}

footer {
  margin-top: 10rem;
  background: linear-gradient(0deg, rgba(19, 19, 19, 0.1) 0%, var(--primary-color-dark) 10%, var(--primary-color-dark) 90%, rgb(19, 19, 19) 100%);
  color: var(--text-color);
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article-generator {
  margin-top: 4.173rem;
}
.article-generator__wrapper h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}
.article-generator__text {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 1rem;
}
.article-generator__text div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.article-generator__text label,
.article-generator__text input,
.article-generator__text textarea {
  font-size: 1.2rem;
  width: 100%;
}
.article-generator__text label {
  width: 50%;
  text-align: center;
  font-size: 1.44rem;
  margin: 0.5rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  cursor: pointer;
}
.article-generator__text input {
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  outline: none;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
}
.article-generator__text textarea {
  min-height: 40rem;
  max-width: 700px;
  margin: 0 auto;
  resize: none;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  outline: none;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
}
.article-generator__text button {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.article-generator__text button:hover {
  background-color: var(--primary-color);
}
.article-generator__text input[type=file] {
  display: none;
}
.article-generator__text #alertEl {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: red;
}

.articles__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.articles__content .article {
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--primary-color-light);
  color: var(--text-color);
}
.articles__content .article h3 {
  font-size: 1.44rem;
  margin-bottom: 1rem;
}

main.reviewspage {
  margin-top: 4.173rem;
  min-height: calc(100vh - 4.173rem);
  background-image: url("../assets/img/luv7_hero.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
main.reviewspage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgb(19, 19, 19) 70%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.reviews-hero__wrapper {
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  /* border: 1px solid red; */
}

.reviews-articles {
  margin-top: 2rem;
}

.reviews-articles__wrapper {
  /* border: 1px solid red; */
}
.reviews-articles__wrapper-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
  padding: 1rem;
  background-color: var(--body-color);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
}
@media screen and (max-width: 750px) {
  .reviews-articles__wrapper-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .reviews-articles__wrapper-content {
    grid-template-columns: 1fr;
  }
}
.reviews-articles__wrapper-content .article {
  position: relative;
  border-radius: 15px;
  background-color: var(--body-color);
  padding: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.reviews-articles__wrapper-content .article .image_wrapper {
  position: relative;
  margin: -0.5rem -0.5rem 0;
  padding: 1px;
}
.reviews-articles__wrapper-content .article .image_wrapper img {
  width: 100%;
  border-radius: 15px;
}
.reviews-articles__wrapper-content .article .image_wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 10px 10px rgb(19, 19, 19);
}
.reviews-articles__wrapper-content .article h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.reviews-articles__wrapper-content .article .date {
  padding: 0.25rem 0.5rem;
  font-size: 0.833rem;
  background-color: var(--primary-color-dark);
  border-radius: 15px;
}
.reviews-articles__wrapper-content .article:hover {
  transform: scale(1.07);
}

footer {
  margin-top: 0;
}

.articlepage {
  margin-top: 4.173rem;
  min-height: calc(100vh - 4.173rem);
}
.articlepage__wrapper-image {
  position: relative;
  padding: 5px;
}
.articlepage__wrapper-image img {
  width: 100%;
}
.articlepage__wrapper-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 10px 30px rgb(19, 19, 19);
}
.articlepage__wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}
@media screen and (max-width: 650px) {
  .articlepage__wrapper-title {
    flex-direction: column;
    align-items: center;
  }
}
.articlepage__wrapper-title h1 {
  font-size: 3rem;
}
.articlepage__wrapper-title p {
  font-size: 0.833rem;
}
.articlepage__wrapper-title p .owner {
  font-size: 1rem;
  color: var(--primary-color-lighter);
}
.articlepage__wrapper-title p .date {
  color: var(--primary-color-lighter);
}
.articlepage__wrapper-content {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 650px) {
  .articlepage__wrapper-content {
    padding: 1rem;
  }
}

.hero {
  cursor: default;
  margin-top: 4.173rem;
  height: calc(100vh - 4.173rem);
  position: relative;
  background-image: url(https://thusazwaleqfkqmlxrgq.supabase.co/storage/v1/object/public/assets/luv7_hero.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  /* .bgblur {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(19, 19, 19, 1) 70%);
         z-index: -1;
         backdrop-filter: blur(5px);
  } */
}
.hero .container {
  height: 100%;
  padding: 0;
}
.hero__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.hero__wrapper h1 {
  opacity: 0;
  animation: fadeinLeft 0.7s ease-out 0.3s forwards;
  line-height: 1.2;
}
.hero__wrapper h1 br {
  display: none;
}
@media screen and (max-width: 670px) {
  .hero__wrapper h1 br {
    display: block;
  }
}
.hero__wrapper p {
  font-size: 1.2rem;
  opacity: 0;
  animation: fadeinRight 0.7s ease-out 1s forwards;
}
.hero__wrapper p br {
  display: none;
}
@media screen and (max-width: 670px) {
  .hero__wrapper p br {
    display: block;
  }
}

.about {
  /* border: 1px solid green; */
  padding-top: 5rem;
  height: 40vh;
  cursor: default;
}
.about .container {
  height: 100%;
  position: relative;
}
.about__wrapper {
  height: 100%;
}
.about__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.about__text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 800px) {
  .about__text {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.about__text h2 {
  width: 34%;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .about__text h2 {
    width: 100%;
  }
}
.about__text p {
  font-size: 1.44rem;
  width: 66%;
}
@media screen and (max-width: 800px) {
  .about__text p {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
}

.reviews {
  padding-top: 5rem;
  margin-bottom: 5rem;
  cursor: default;
}
@media screen and (max-width: 990px) {
  .reviews .container {
    padding: 0;
  }
}
.reviews__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (max-width: 990px) {
  .reviews__wrapper {
    gap: 2rem;
    position: relative;
  }
}
.reviews__wrapper h2 {
  width: 34%;
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 990px) {
  .reviews__wrapper h2 {
    width: 100%;
  }
}
.reviews__cards-buttons {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  z-index: 10;
  gap: 1rem;
}
@media screen and (max-width: 990px) {
  .reviews__cards-buttons {
    display: flex;
  }
}
.reviews__cards-buttons .prev_button, .reviews__cards-buttons .next_button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  transition: transform 0.1s ease-in-out;
}
.reviews__cards-buttons .prev_button:active, .reviews__cards-buttons .next_button:active {
  transform: scale(0.9);
}
.reviews__cards {
  display: flex;
  gap: 3rem;
  height: 500px;
  /* border: 1px solid green; */
}
@media screen and (max-width: 990px) {
  .reviews__cards {
    width: 320px;
    margin: 0 auto;
    gap: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}
.reviews__card {
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--secondary-color-light);
  background-color: var(--primary-color-dark);
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 990px) {
  .reviews__card {
    transition-delay: 0s;
    flex-shrink: 0;
    width: 100%;
  }
}
.reviews__card:nth-child(2) {
  transition-delay: 0.3s;
}
@media screen and (max-width: 1000px) {
  .reviews__card:nth-child(2) {
    transition-delay: 0s;
  }
}
.reviews__card:nth-child(3) {
  transition-delay: 0.6s;
}
@media screen and (max-width: 1000px) {
  .reviews__card:nth-child(3) {
    transition-delay: 0s;
  }
}
.reviews__card:hover .reviews__card-date {
  opacity: 1;
}
.reviews__card-img {
  width: 100%;
}
.reviews__card-img img {
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.reviews__card-date {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.833rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  transition: all 0.2s;
  opacity: 0;
}
@media screen and (max-width: 990px) {
  .reviews__card-date {
    opacity: 1;
  }
}
.reviews__card-content {
  padding: 1rem;
}
.reviews__card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.reviews__card-content a {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.reviews__card-content a:hover {
  background-color: var(--primary-color-light);
  scale: 1.1;
}