/* colors */
$primary-color: #461a9c;
$primary-color-light: #7d06dc;
$primary-color-lighter: #8a12e6;
$primary-color-dark: #2d0361;
$secondary-color: #c6bfe7;
$secondary-color-light: #d7d8f4;
$secondary-color-dark: #b8b1e1;
$text-color: ghostwhite;
$body-color: rgb(19, 19, 19);
$black-color: rgb(0, 0, 0);

/* fonts */
$body-font: 'Poppins', sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 1.44rem;
$h3-font-size: 1.2rem;
$normal-font-size: 1rem;
$small-font-size: 0.833rem;
