@use '../abstracts/variables' as *;

footer {
    margin-top: 10rem;
	background: linear-gradient(0deg, rgba(19, 19, 19, 0.1) 0%, $primary-color-dark 10%, $primary-color-dark 90%, rgba(19, 19, 19, 1) 100%);
	color: $text-color;
	padding: 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}
