@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background: linear-gradient(0deg, rgba(19, 19, 19, 0.1) 0%, $primary-color-dark 10%, $primary-color-dark 90%, rgba(19, 19, 19, 1) 100%);
	color: $text-color;

	.container {
		padding: 1rem 2rem;
		position: relative;
		/* border: 1px solid red; */
	}

	&__toggle {
		position: absolute;
		top: 50%;
		left: calc(40px + 4rem);
		transform: translateY(-50%);
		/* outline: none;
		border: none;
		color: $text-color; */

		cursor: pointer;

		font-size: $h3-font-size;
		padding: 0.25rem 0.75rem;
		background-color: $primary-color;
		border-radius: 25px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		transition: all 0.1s ease;

		&:hover {
			background-color: $primary-color-light;
			transform: scale(1.1) translateY(-50%);
			transition: all 0.3s ease;

			&:active {
				transform: scale(1) translateY(-50%);
				transition: all 0.1s ease;
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 40px;
		margin: -0.5rem 0;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@include screen-max-width(650px) {
			position: absolute;
			top: 100%;
			right: 0;
			flex-direction: column;
			margin: 0.5rem;
			text-align: center;
		}

		li {
			@include screen-max-width(650px) {
				flex-shrink: 0;
				width: 100%;
				transform: translateX(150%);
				transition: transform 0.25s ease;
			}

			&:nth-child(2) {
				transition-delay: 0.1s;
			}
			&:nth-child(3) {
				transition-delay: 0.2s;
			}
			&:nth-child(4) {
				transition-delay: 0.3s;
			}
			&:nth-child(5) {
				transition-delay: 0.4s;
			}
		}

		li a {
			color: $secondary-color-light;
			display: block;
			padding: 0.25rem 1rem;
			background-color: $primary-color;
			border-radius: 15px;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease;

			&:hover {
				background-color: $primary-color-light;
				scale: 1.1;
			}

			i::before {
				font-size: 1.1rem;
				margin-bottom: -0.25rem;
			}
		}

		&.active {
			li {
				@include screen-max-width(650px) {
					transform: translateY(0);
				}
			}
		}
	}

	&__hamburguer {
		cursor: pointer;
		display: none;

		font-size: $h3-font-size;
		padding: 0.25rem 0.75rem;
		background-color: $primary-color;
		border-radius: 25px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		transition: all 0.1s ease;

		&:hover {
			background-color: $primary-color-light;
			transform: scale(1.1);
			transition: all 0.3s ease;

			
		}
		
		&:active {
				transform: scale(1);
				transition: all 0.1s ease;
			}

		@include screen-max-width(650px) {
			display: block;
		}
	}
}
